@import "../../global";

div.login-register-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 30px;
  align-items: center;
  margin-bottom: 50px;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: $smallParagraphFont;
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: $smallParagraphFont;
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: $smallParagraphFont;
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: $smallParagraphFont;
    color: white;
  }

  //helper for icons
  div.form-field-wrapper {
    position:relative;
  }

  input {
    margin: 0 auto;
    display: block;
    height: 50px;
    color: white;
    margin-bottom: 16px;
    border: 1px white solid;
    border-radius: 24px;
    outline: none;
    background-color: transparent;
  }

  input {
    font-family: $smallParagraphFont;
    padding: 10px 10px 10px 50px;
  }

  ion-button[type="submit"] {
    font-family: $paragraphFont;
    cursor: pointer;
    height: 42px;
    --border-radius: 24px !important;
    border-color: transparent;
    font-weight: 600;
  }

  //desktop
  @media (min-width: 480px) {
    input, ion-button[type="submit"] {
      width: 450px;
    }
/*    button {
      width: 446px;

      &:after {
        transition: all 0.3s;
        font-size: xx-large;
        font-weight: 900;
        content: '\2192';
        position: absolute;
        opacity: 0;
        top: -2px;
        right: -20px;
      }

      &:hover {
        background: #FDC830;  !* fallback for old browsers *!
        background: -webkit-linear-gradient(to right, #FDC830, #f58144);  !* Chrome 10-25, Safari 5.1-6 *!
        background: linear-gradient(to right, #FDC830, #f58144); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!
      }

      &:hover:after {
        opacity: 1;
        right: 30px;
      }
    }*/
  }

  @media (max-width: 480px) {
    input, ion-button[type="submit"] {
      width: 80vw;
    }
  }

  div.form-field-wrapper i {
    position: absolute;
    top: 14px;
    left: 14px;
    color: white;
    cursor: default;

    &.fa {
      cursor: pointer;
      font-size: 24px;
    }
  }

  div.formError {
    color: white;
    transition: all 0.3s;
    background-color: #cc296a;
    border-radius: 24px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 16px;
    word-break: break-word;

    p {
      @media (max-width: 480px) {
        width: 66vw;
      }
      @media (min-width: 480px) {
        width: 380px;
      }
      padding-left: 18px;
    }
  }

  .notice {
    font-family: $paragraphFont;
    font-weight: 100;
    font-size: .85em;

    .anchor {
      font-weight: 600;
      color: blue;
      cursor: pointer;
      --background: transparent;
      display: inline-block !important;
      border-bottom: 0;
    }
  }
}

