<div class="login-register-wrapper">
  <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="form-field-wrapper">
      <i class="material-icons">email</i>
      <input type="email" required email minlength="6" class="loginEmail" formControlName="loginEmailControl" placeholder="Email Address"/>
    </div>
    <div class="formError form-field-wrapper" [ngStyle]="{'display': loginForm.get('loginEmailControl').errors && loginForm.get('loginEmailControl').dirty ? 'block' : 'none'}">
      <p *ngFor="let error of getFormControlErrors('loginEmailControl')">
        {{error}}
      </p>
    </div>


    <div class="form-field-wrapper">
      <i *ngIf="loginForm.value.loginPwdControl.length === 0" class="material-icons">lock</i>
      <i *ngIf="loginForm.value.loginPwdControl.length > 0" class="fa"
         [ngClass]="{'fa-eye-slash': showLoginPassword,'fa-eye' : !showLoginPassword}"
         (click)="showHideLoginPassword()"
      ></i>
      <input type="{{getCredentialsFieldType('login')}}" required class="loginPwd" formControlName="loginPwdControl" placeholder="Password"/>
    </div>
    <div class="formError form-field-wrapper" [ngStyle]="{'display': loginForm.get('loginPwdControl').errors && loginForm.get('loginPwdControl').dirty ? 'block' : 'none'}">
      <p *ngFor="let error of getFormControlErrors('loginPwdControl')">
        {{error}}
      </p>
    </div>

    <div class="form-field-wrapper">
      <!--<button type="submit" [disabled]="!loginForm.valid">LOGIN</button>-->
      <button type="submit">LOGIN</button>
    </div>
  </form>

  {{loginForm.valid}}

</div>
