<div class="login-register-wrapper">
  <form [formGroup]="loginForm" class="loginForm" *ngIf="!showRegisterForm" (ngSubmit)="onLoginSubmit()">
    <div class="form-field-wrapper">
      <i class="material-icons">email</i>
      <input type="email" required email minlength="6" class="loginEmail" formControlName="loginEmailControl" placeholder="Email Address"/>
    </div>
    <div class="form-field-wrapper">
      <i *ngIf="loginForm.value.loginPwdControl.length === 0" class="material-icons">lock</i>
      <i *ngIf="loginForm.value.loginPwdControl.length > 0" class="fa"
         [ngClass]="{'fa-eye-slash': showLoginPassword,'fa-eye' : !showLoginPassword}"
         (click)="showHideLoginPassword()"
      ></i>
      <input type="{{getCredentialsFieldType('login')}}" required class="loginPwd" formControlName="loginPwdControl" placeholder="Password"/>
    </div>
    <div class="form-field-wrapper">
      <button type="submit" >LOGIN</button>
    </div>
  </form>
<!--  {{loginForm.valid}}-->
  <form [formGroup]="registerForm" class="registerForm" *ngIf="showRegisterForm" (ngSubmit)="onRegisterSubmit()">
    <div class="form-field-wrapper">
      <i class="material-icons">email</i>
      <input type="email" required email minlength="6" class="loginEmail" formControlName="registerEmailControl" placeholder="Email Address"/>
    </div>
    <div class="formError form-field-wrapper" [ngStyle]="{'display': registerForm.get('registerEmailControl').errors && registerForm.get('registerEmailControl').dirty ? 'block' : 'none'}">
      <p *ngFor="let error of getFormControlErrors('registerEmailControl')">
        {{error}}
      </p>
    </div>
    <div class="form-field-wrapper">
      <i *ngIf="registerForm.value.registerPwdControl.length === 0" class="material-icons">lock</i>
      <i *ngIf="registerForm.value.registerPwdControl.length > 0" class="fa"
         [ngClass]="{'fa-eye-slash': showRegisterPassword,'fa-eye' : !showRegisterPassword}"
         (click)="showHideRegisterPassword()"
      ></i>
      <input type="{{getCredentialsFieldType('register')}}" required class="registerPwd" formControlName="registerPwdControl" placeholder="Password"/>
    </div>
    <div class="formError form-field-wrapper" [ngStyle]="{'display': registerForm.get('registerPwdControl').errors && registerForm.get('registerPwdControl').dirty ? 'block' : 'none'}">
      <p *ngFor="let error of getFormControlErrors('registerPwdControl')">
        {{error}}
      </p>
    </div>
    <div class="form-field-wrapper">
      <button type="submit" >REGISTER</button>
    </div>
  </form>

  <div class="notice">
    {{getNotice()[0]}}<span class="anchor" (click)="switchBetweenLoginAndRegister()">{{getNotice()[1]}}</span>
  </div>
</div>
